/* 

STYLE SHEET FOR OCENA
Created by MILES, 
Edited by Ben Siech

ToC

    1. defaults
    2. structure
    3. links and navigation
    4. fonts
    5. images
    6. tables
    7. lists

Notes

*/



/* --------- 1. defaults --------- */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body{
    color:#444444;
    background: #f2f2f2;
    font-family:"Century Gothic", Helvetica, sans-serif;
}

/* --------- 2. structure --------- */

#index-wrapper { 
    position: absolute;
    width: 776px;
    height: 200px;
    top: 50%;
    left: 50%;  
    margin-top: -99px;
    margin-left: -387px;
    /*border: 1px solid #000;*/
}

#wrapper {
    width: 776px;
    margin: 0 auto;
}

.container{
    width: 1270px; 
    margin: 20px auto;
}

#slider-content{
    margin:97px auto;
    text-align:center;
    width:600px;
    position:relative;
    height:100%;
}

#slider-wrapper{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:600px;
    overflow:hidden;
}

#slider-wrapper h1{
    color:#ccc;
    font-size:1.6em;
    text-shadow:1px 1px 1px #fff;
    padding:10px;  
}

#slider-wrapper{
    margin:97px auto;
    text-align:center;
    width:600px;
    position:relative;
}

#steps{
    width:600px;
    /*height:320px;*/
    overflow:hidden;
}

.step{
    float:left;
    width:600px;
    /*height:320px;*/
}

#slider-navigation{
    height:45px;
    background-color:#e9e9e9;
    border-top:1px solid #fff;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding: auto;
}

#slider-navigation ul{
    list-style: none;
    float: left;
    margin: auto;
}

#slider-navigation ul button{
   float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
    margin:auto;
}

#slider-navigation ul li{
   float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
    margin:auto;
}

#slider-navigation ul li a{
    display:block;
    height:45px;
    background-color:#444;
    color:#777;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:45px;
    padding:0px 20px;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    background:#f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        )
}

#slider-navigation ul li a:hover,

#slider-navigation ul li.selected a{
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

span.checked{
    background:transparent url(../img/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

span.error{
    background:transparent url(../img/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

#steps form fieldset{
    border:none;
    padding-bottom:20px;
}

#steps form legend{
    text-align:left;
    background-color:#f0f0f0;
    color:#666;
    font-size:1.4em;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    float:left;
    width:590px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
}

#steps form p{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    margin-left:100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}

#steps form p label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}

#steps form input:not([type=radio]),

#steps form select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 200px;
    float:left;
}

#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}

#steps form p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    margin: auto;
}

#steps form button {
    float: none; 
    border:none;
    outline:none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 1px 25px;
    text-shadow: 0 1px 1px #777;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:1.35em;;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background: #2E90BC;
}

#steps form button:hover {
    background:#A1D9F2;
    color:#2E90BC;
    text-shadow:1px 1px 1px #fff;
}

.dropdown button{
    margin: 10px 4px; 
}

.dialog{
    display: none;
}

#masthead {
}

#logo {
}

#navContainer {
}

#content {
    padding: 72px 5px 18px 5px;
}

#footer {
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #eff;
    padding: 5px;
}

th{
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: rosybrown;
    color: #fff;
}

tfoot td {
    font-size: 0.8em;
    text-align: center;
}


.even td{
    background-color: #efefef;
}

/* float-clearing rules */
.separator {
    clear: both;
}

.separatorInvisible {
    clear: both;
    height: 1px;
}

.clearFix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}		

#create-account-btn{
    clear: left;
}

#admission-dropdown{
    margin-right: 20px;
    width: 150px;
}

#degree-dropdown{
    margin-right: 20px;
    width: 250px;
}

#course-dropdown{
    margin-right: 20px;
    width: 250px;
}

#accordion{
    margin-top: 36px;
}

#upgrade-user-number{
    margin-left: 20px;
}

#upgrade-retrieve-button{
    margin-left: 20px;
}

#upgrade-member-institution{
    width: 500px;;
}

#information-box{
    margin-left: 20px;
}

.edit-evaluation-session-button{
    margin-left: 20px;
}

.close-evaluation-session-button{
    margin-left: 20px;
}

#login-strip{
    text-align: center;
    background: url(../img/stripe.gif);
}

#login-strip:hover{
    cursor: pointer;
    background: url(../img/stripe-darker.gif);
}

#signup-btn{
    margin-left: 20px;
}

.central{
    padding: auto auto;
}

.ui-datepicker-month{
    color: #000;
}

.ui-datepicker-year{
    color: #000;
}

#rating-labels{
    text-transform: uppercase;
    font-size: 1.2em;
    color: #6E6E6D;
    font-weight: normal;
    padding-top: 7px;
    margin-bottom: 7px;
    text-align: center;
}

#rating-labels label{
    margin-left: 30px;
    margin-right: 30px;
}

#course-evaluated-info{
    margin-top: 15px;
}

#edit-overall-admin-div{
    display: none;
}

#rating-type-hidden{
    display: none;
}

#admission-year-holder{
    display: none;
}

/* ---------- 3. links and navigation ---------- */

a {
}

a:hover {
}

#navigation {
}

#navigation a {
}

#navigation ul {
}

#navigation li {
}

#uonbi-logo{

    font-size: 1.3em;
    color: #333;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: arial,helvetica,sans-serif;
    font-weight: 800;
    margin: -33px 0px -20px 0px;
}

/* ---------- 4. fonts ---------- */

body {
    font-size: 62.5%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000;
}

h1, h2, h3, h4, p, ul {
}

h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: normal;
    color: #999;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid orange;
}

h2 {
    font-size: 1.4em;
    line-height: 1.285714285714286em;
    margin-top: 0.6428571428571429em;
    margin-bottom: 1.928571428571429em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

h4 {
}

p, a, ul, li {
    font-size: 1.1em;
    line-height: 1.6363636363em;
    line-height: 1.6363636363em;
}

li li {
    font-size: 1em;
}

p {
}

ul {
}

/* ---------- 5. images ---------- */

a img {
}

.fa {
    font-size: 1.4em;
}

/* ---------- 6. tables ---------- */

table {
    width: 100%;
    border-collapse: collapse;
}

caption{
    text-align: center;
    font-size: 1.2em;
}

th{
    font-size: 1.2em;
    font-weight: normal;
}

td{
    font-size: 1.1em;
    font-weight: normal;
}

tfoot td{
    text-align: center;
    font-size: 1.1em;
}

table.table tr td div.btn-group { 
    display:none;
}

table.table tr:hover td div.btn-group { 
    display:inline-block;
}

tr .has-button{
    padding:0px;
    background-color: #eff;
}

.parent-table tbody tr:hover{
    cursor: pointer;
    background: #eaeaea;
}

#institution-information{
    border: 1px solid #79c9ec;
}

.evaluation-question-holder{
    width: 270px;
}

.evaluation-question-holder-extensive{
    width: 270px;
}

.evaluation-rating-holder{
    width: 5px;
}

/* ---------- 7. Lists ---------- */

.dropdown-menu > li > a {
    font-size: 0.9em;
    line-height: 2em;
}

.dropdown-menu > li > li > a {
    font-size: 1em;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: red;
    background-color: #eaeaea;
    filter: none;
}

.bottom-up {top: auto; bottom: 100%; }
.navbar .dropdown-menu.bottom-up:before { border-bottom: 0px solid transparent !important; border-top: 7px solid rgba(0, 0, 0, 0.2); top: auto !important; bottom: -7px; }
.navbar .dropdown-menu.bottom-up:after { border-bottom: 0px solid transparent !important; border-top: 6px solid white;       top: auto !important; bottom: -6px; }

